:root {
  --color-oragne-100: #ffc468;
  --color-oragne-200: #ffaf18;
  --color-oragne-300: #bd975c;
  --color-oragne-400: #b99150;
  --color-oragne-500: #382400;

  --font-muller: "Muller";
}

@font-face {
  font-family: "Muller";
  src: url("../../assets/fonts/muller/Muller.ttf");
}
