<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__title">
        <span class="hero__highlight_300">Самая вкусная пицца в мире </span>
        <br />
        <span class="hero__highlight_200">только в Pizza Cheff</span>
      </h1>
      <div class="hero__features">
        <div class="hero__feature">
          <div class="hero__feature-icon">
            <img src="assets/media/hero/favorite 1.png" alt="Лучшее тесто" />
          </div>
          <div class="hero__feature-text-wrapper">
            <p class="hero__feature-title">ЛУЧШЕЕ ТЕСТО</p>
            <p class="hero__feature-description">
              Мы создаем тесто только из отборной итальянской муки наивысшего
              качества
            </p>
          </div>
        </div>
        <div class="hero__feature">
          <div class="hero__feature-icon">
            <img src="assets/media/hero/kitchen-pack.png" alt="Лучшие повара" />
          </div>
          <div class="hero__feature-text-wrapper">
            <p class="hero__feature-title">ЛУЧШИЕ ПОВАРА</p>
            <p class="hero__feature-description">
              Пиццы готовят самые профессиональные итальянские повара
            </p>
          </div>
        </div>
        <div class="hero__feature">
          <div class="hero__feature-icon">
            <img
              src="assets/media/hero/seo-and-web.png"
              alt="Гарантия качества"
            />
          </div>
          <div class="hero__feature-text-wrapper">
            <p class="hero__feature-title">ГАРАНТИЯ КАЧЕСТВА</p>
            <p class="hero__feature-description">
              Наша пиццерия получила множество наград и признаний по всему миру
            </p>
          </div>
        </div>
        <div class="hero__feature">
          <div class="hero__feature-icon">
            <img src="assets/media/hero/holidays.png" alt="Отборные рецепты" />
          </div>
          <div class="hero__feature-text-wrapper">
            <p class="hero__feature-title">ОТБОРНЫЕ РЕЦЕПТЫ</p>
            <p class="hero__feature-description">
              Мы используем рецепты от мировых лидеров в изготовлении пиццы
            </p>
          </div>
        </div>
      </div>
      <button class="hero__button styled-button">Выбрать пиццу</button>
    </div>
    <div class="hero__image">
      <img src="assets/media/hero/pizza_big.png" alt="Пицца" />
    </div>
  </div>
</section>
